
<div id="comments">
    <!-- commentlist -->
    <ol class="commentlist" >
        
        <li class="depth-1" *ngFor="let comentario of comentarios.result">

            <div class="avatar">
                <img width="50" height="50" class="avatar" src="assets/images/user-01.png" alt="">
            </div>

            <div class="comment-content">

                <div class="comment-info">
                    <cite>   {{ comentario.name }}</cite>

                    <div class="comment-meta">
                     {{ comentario.email }}
                    </div>
                </div>

                <div class="comment-text">
                    <p> {{ comentario.body }}</p>
                </div>

            </div>

        </li>

</ol> <!-- Commentlist End -->

<div class="respond">

    <h3>Leave a Comment</h3>

    <!-- form -->
    <form name="contactForm" id="contactForm" method="post" action="">
           <fieldset>

       <div class="group">
                  <label for="cName">Name <span class="required">*</span></label>
                  <input name="cName" type="text" id="cName" size="35" value="" />
       </div>

       <div class="group">
                  <label for="cEmail">Email <span class="required">*</span></label>
                  <input name="cEmail" type="text" id="cEmail" size="35" value="" />
       </div>

       <div class="group">
                  <label for="cWebsite">Website</label>
                  <input name="cWebsite" type="text" id="cWebsite" size="35" value="" />
       </div>

       <div class="message group">
          <label  for="cMessage">Message <span class="required">*</span></label>
          <textarea name="cMessage"  id="cMessage" rows="10" cols="50" ></textarea>
       </div>

       <button type="submit" class="submit">Submit</button>

           </fieldset>
          </form> <!-- Form End -->

 </div> <!-- Respond End -->
</div>
