<article class="entry" *ngFor="let post of posts.result">

    <header class="entry-header">

      <h2 class="entry-title">
        <a href="detalhe/{{post.id}}" title="">{{ post.title }}</a>
      </h2> 				 
    
      <div class="entry-meta">
        <ul>
          <li></li>
          <span class="meta-sep">&bull;</span>								
          <li></li>
          <span class="meta-sep">&bull;</span>
          <li></li>
        </ul>
      </div> 
     
    </header> 
    
    <div class="entry-content">
      <p>{{ post.body | trucate: '200' : '...' }}</p>
    </div> 

  </article> <!-- end entry -->